<!doctype html>
<html lang="en-gb" dir="ltr" class="no-js"> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Legacy prototype</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="apple-touch-icon" sizes="180x180" href="../../../../../../static/img/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="../../../../../static/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="../../../../../static/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="../../../../../static/img/favicons/manifest.json">
  	<link rel="mask-icon" href="../../../../../static/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css'>
	<link rel="stylesheet" href="https://cdn.ons.gov.uk/sdc/322aece/css/styles.css">
	<link rel="stylesheet" href="../../../../../static/css/legacy-main.css" media="all">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="../../../../../static/js/industry-range.js"></script>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<body>

<script src="https://cdn.ons.gov.uk/sdc/322aece/scripts/bundle.min.js" ></script>

<header class="page__header">

	<div class="logo_container">
		<div class="wrapper">
			<div class="group">
				<div class="col-7">
					<div class="logo_header">
						<a href="../hub.html"><img src="../../../../../static/img/logo.svg" alt="Office for National Statistics" class="logo__img"/></a>
					</div>
				</div>
				<div class="col-5">
					<div class="header_links">
						<ul class="menubar" role="menubar" id="appmenu">
							<li role="menuitem"><a href="" class="username">John Smith</a></li>
							<li class="menubar" role="menuitem"><a href="../../login.html" class="username">Sign out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page_title">
		<div class="wrapper">
			<div class="group">
				<div class="col-12">
					<div><h1 class="jupiter main_heading">Social</h1></div>
				</div>
			</div>
		</div>
	</div>

	<div class="page_title">
		<div class="wrapper">
			<div class="bar bar__sitenavigation not-mvpx top_15_extra_space" role="banner">
		        <div class="bar__inner container">
		            <div class="sitenavigation">
		              	<div class="sitenavigation">
		                	<ul class="sitenavigation__list">
			                    <li class="sitenavigation__listitem">
			                    	<a href="/dashboard">Dashboard</a>
			                    </li>
			                    <li class="sitenavigation__listitem sitenavigation__listitem--active">
			                    	<a href="#">New run</a>
			                    </li>
			                    <li class="sitenavigation__listitem">
			                    	<a href="/system_info">System info</a>
			                    </li>
			                    <li class="sitenavigation__listitem">
			                    	<a href="#">Other</a>
			                    </li>
			                </ul>
		              	</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>

</header>

<section>

	<div class="wrapper">
		<div class="col-8">

			<div class="group top_40_extra_space">
				<div>
					<h2 class="pluto grey_text ">Step 5 of 5</h2>
				</div>
				<div>
					<h2 class="saturn">Edit process variables </h2>
				</div>
			</div>

	  	</div>
	</div>

</section>

<!--

<section>

	<div class="wrapper">
		<div class="col-8 top_30_extra_space">

			<form id="run" action="/new_run_5" class="form">

				<div class="field field--radio field--multiplechoice">
				    <fieldset>
				        <legend class="field__legend mars buttom_10_extra_space">Do you want to use a exinting template?</legend>
				        <div class="field__item js-focusable-box">
				            <input class="input input--radio js-focusable" name="radio-answer" value="yes" id="yes" type="radio">
				            <label class="label label--inline venus " for="yes">
				            Yes
				        </label>
				        </div>
				        <div class="field__item js-focusable-box">
				            <input class="input input--radio js-focusable" name="radio-answer" value="no" id="no" type="radio">
				            <label class="label label--inline venus " for="no">
				            No
				        </label>
				        </div>
				    </fieldset>
				</div>

			    <div class="top_50_extra_space">
				    <button class="btn btn--primary" type="submit">Save and continue</button>
				    &nbsp;&nbsp;&nbsp;
				    <a class="btn btn--secondary btn--border" href="/new_run_3">Back</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
					<label><a href="/dashboard">Cancel</a></label>
				</div>

			</form>

		</div>
	</div>

</section>

-->

<section>

	<div class="wrapper">
		<div class="group">

			<form id="run" action="/new_run/new_run_5" class="form">

				<div class="wrapper">
					<div class="group">
						<div class="col-8 top_40_extra_space">
							<table class="table table__dense">
                                {% if table %}
                                    <thead class="table--head">
                                    {% for column in header %}
                                        <th class="table--header--cell"> {{ column | replace('_', ' ') | title }} </th>
                                    {% endfor %}
                                    <th class="table--header--cell">Edit</th>
                                </thead>
                                <tbody>
                                    <!-- for each record, render each data value -->
                                    {% for record in table %}
                                    <tr class="table--row">
                                        <td class="table--cell">{{record['PV_NAME']}} </td>
                                        <td class="table--cell">{{record['PV_REASON']}} </td>
                                        <td class="table--cell">{{record['PV_CONTENT']}}</td>
                                        <td class="table--cell"><a href="edit">Edit</a></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                {% else %}
                                    <div class="top_50_extra_space">
                                        <div class="panel panel--simple panel--info">
                                            <div class="panel__body">
                                                <p class="mars">No Records to show... </p>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif%}
			        	</table>
					</div>

					<div class="wrapper">
						<div class="group">
							<div class="col-6 table-pagination-extra-padding">
								<span>
									1 to 10 of 267 &nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;
									<a href="#">2</a>&nbsp;
									<a href="#">3</a>&nbsp;
									<a href="#">4</a>&nbsp;
									<a href="#">5</a>&nbsp;
									<a href="#">6</a>&nbsp;
									<a href="#">7</a>&nbsp; 
									<a href="#">8</a>&nbsp;
									<a href="#">9</a>&nbsp;
									<a href="#">10</a>&nbsp;
									<a href="#">Next</a>&nbsp;
								</span>
							</div>
						</div>
					</div>

				</div>

				<div class="top_50_extra_space">
					<button class="btn btn--primary" type="submit">Save and continue</button>
					&nbsp;&nbsp;&nbsp;
					<a class="btn btn--secondary btn--border" href="/new_run/new_run_4">Back</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
					<label><a href="/dashboard">Cancel</a></label>
				</div>
                </div>

			</form>

		</div>
	</div>

</section>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Process variable content</p>
      <input type="text" id="content_input" placeholder="Hello">
  </div>

</div>

<section>
	<div class="buttom_70_extra_space buttom_70_extra_space">
		<table></table>
	</div>
	<div class="buttom_70_extra_space buttom_70_extra_space">
		<table></table>
	</div>
</section>

<footer class="page__footer">

	<div class="wrapper">
		<div class="group">
			<div class="col-12">
				<span class="new">This release is in development. Your <a href="mailto:ramon.delgado@ext.ons.gov.uk?Subject=User%20feedback"> feedback</a> will help us improve it.</span>
			</div>
		</div>
	</div>

    <script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js'></script>


<script>
	jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>


<script>
$('.ui.dropdown').dropdown();
</script>


<script type="text/javascript">
 
window.onload = function(){
 
  var form = document.getElementById("form-sign-in");

  form.onsubmit = function(e) {
    e.preventDefault();
    var userInput = document.getElementById('text-input').value;
   
    if (userInput.includes('123')) {
   
      window.location = 'contributor.html';
   
    } else if (userInput.includes('cme')) {
      window.location = 'search_results.html';
    }
    return false;
  }
};
 
</script>​


</footer>

</body>
</html>
